.inp__block {
  width: 100%;
}

.inp__text {
  width: inherit;
  padding: 22px 0 22px 31px;
  border: 2px solid #60AD5E;
  border-radius: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: #333333;

  &_green {
    color: #60AD5E;
    border: 2px solid #60AD5E;
  }

  &_red {
    color: red;
    border: 2px solid red;
  }
}

.react-tel-input {
  width: 100%;
  padding: 22px 0 22px 31px;
  border: 2px solid #60AD5E;
  border-radius: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: #333333;
}

@media (max-width: 1190px) {
  .inp__text {
    width: inherit;
    padding: 15px 0 15px 15px;
  }
}

@media (max-width: 768px) {
  .inp__text {
    width: inherit;
    padding: 10px 0 10px 7px;
    border: 1px solid #60AD5E;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    &_green {
      border: 1px solid #60AD5E;
    }

    &_red {
      border: 1px solid red;
    }
  }
}
